*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #202020;
    padding: 10px;
}
.todo-app{
    width:100%;
    max-width: 540px;
    background: linear-gradient(90deg, rgb(245, 212, 103), rgb(124, 255, 255));
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff80;
    border-radius: 25px;
    border: 1px solid rgb(136, 31, 234);
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 10px;
}
input{
    flex: 1;
    border:none;
    outline:none;
    font-size: 14px;
    font-weight: bold;
    background: none;
    padding: 10px;
    color: rgb(27, 27, 27);
}
button{
    border: none;
    padding: 16px 50px;
    outline: none;
    background: linear-gradient(90deg, rgb(255, 136, 0), rgb(255, 0, 200));
    color: azure;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    margin-left: -20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url("Accessories/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #2c2c2c;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("Accessories/checked.png");
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    margin-right: -29px;
    height: 40px;
    font-size: 22px;
    color: #1d1d1d;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color: rgb(110, 109, 108);
}

@media(max-width : 430px){
    .row{
        flex-direction: column;
        border: none;
        background: none;
        padding-left: 0;
    }
    input{
        border-radius: 20px;
        width: 100%;
        background: #d4d4d492;
        border: 1px solid rgb(138, 32, 238);
    }
    button{
        padding: 10px 40px;
    }
}